@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scroll padding for fixed header */
html {
  scroll-padding-top: 100px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fafafa;
}
::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border: 2px solid #18181b;
}
::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}

/* Selection color */
::selection {
  background: #f472b6;
  color: #000;
}